<!-- ABOUT PAGE -->
<div class="upload-page container p-5">
 <div class="row justify-content-center align-items-center">
  <div class="col-12">
    <h1 class="text-center text-primary display-3">Ajmir Raziqi</h1>
    <hr/>
  </div>
  <div class="col-12 col-md-6 col-lg-5 col-xl-4 m-2">
    <img class="img-fluid rounded-circle" src="/images/dev.jpg" />
  </div>
  <div class="col-12 col-md-6 col-lg-5 col-xl-4 m-2">
  
    <h4 class="text-secondary">Mession</h4>
    <p class="text-justify">Lorem ipsum dolor sit amet consectetur adipisicing elit. Distinctio, maiores, iste corporis nam consectetur
     ratione expedita culpa provident accusamus ex saepe autem ab similique blanditiis deleniti unde ullam, asperiores
     incidunt.</p>  
    <h4 class="text-secondary">Messsage</h4>
    <p class="text-justify">Lorem ipsum dolor sit amet consectetur adipisicing elit. Distinctio, maiores, iste corporis nam consectetur
     ratione expedita culpa provident accusamus ex saepe autem ab similique blanditiis deleniti unde ullam, asperiores
     incidunt.</p>  
  </div>
  
  <div class="col-12 m-2"">
    <h4 class="text-secondary">Contact</h4>
    <p class="text-justify">Lorem ipsum dolor sit amet consectetur adipisicing elit. Distinctio, maiores, iste corporis nam consectetur
     ratione expedita culpa provident accusamus ex saepe autem ab similique blanditiis deleniti unde ullam, asperiores
     incidunt.</p>  
  </div>
 </div>
</div>
<!-- END OF ABOUT PAGE -->