<!-- FOOTER -->
<footer class="footer container-fluid py-5">
  <!-- About the webstite -->
  <div class="row justify-content-center text-center">
    <h4 class="col-12 text-uppercase">afghangallary.af</h4>
    <div class="col-12">
      <i>Developed by Ajmir Raziqi. All Rights Reserved.</i>
    </div>
  </div>
  <!-- social media links -->
  <div class="row justify-content-center pt-4">
    <a class="other-links" href="#"><i class="icon-facebook3"></i></a>
    <a class="other-links" href="#"><i class="icon-google2"></i></a>
    <a class="other-links" href="#"><i class="icon-github"></i></a>
    <a class="other-links" href="#"><i class="icon-youtube22"></i></a>
  </div>
</footer>
<!-- END OF FOOTER -->