<head>
	
	<!-- Meta tags -->
	<title><%= title %></title>
	<meta charset="UTF-8">
	<meta http-equiv="X-UA-Compatible" content="IE=edge">
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<meta name="description" content="<%= description %>">
	<meta name="keywords" content="<%= keywords %>">
	<meta name="author" content="Ajmir Raziqi">
	<meta name="author" content="Ajmir Raziqi">

	<!-- Css -->
	<link rel="stylesheet" href="/assets/bootstrap/css/bootstrap.min.css">
	<link rel="stylesheet" href="/assets/icomoon/icomoon/style.css">
	<link rel="stylesheet" href="/style/style.css">

	<!-- Js -->
	<script src="/assets/jquery/jquery.min.js" defer></script>
	<script src="/assets/popper.js/popper.min.js" defer></script>
	<script src="/assets/bootstrap/js/bootstrap.min.js" defer></script>
	<script src="/assets/axios/axios.min.js" defer></script>

		<!-- Like Sctipt & clipboard Sctipt -->
		<script src="/script.js" defer></script>

</head>