<!DOCTYPE html>
<html lang="en">
  
 <!-- Import Head -->
 <%-include("partials/head", { title, description:"",  keywords:"" }) %>


<body>

 <!-- TOP PAGE -->
 <%-include("partials/top", { navActive }) %>


 <!-- ABOUT PAGE -->
 <%-include("partials/about") %> 

 <!-- FOOTER -->
 <%-include("partials/footer") %>

</body>
</html>