<!DOCTYPE html>
<html lang="en">
  <!-- Import Head -->
		<%-include("partials/head", { title, description:"",  keywords:"" }) %>


<body>

  <!-- TOP PAGE -->
		<%-include("partials/top", { navActive }) %>
  
	<!-- Upload -->
	<%-include("partials/upload")%>

	<!-- FOOTER -->
	<%-include("partials/footer")%>

</body>
</html>